<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>The Guide</title>
  </head>
  <body>
  <nav class="navbar navbar-light" style="background-color: 	#c5aa6a;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#"> The Guide </a>
   
  </div>
  
</nav>
</div>
  <div class="container">
      <!We are adding CSRF Token to provide security from malicious requests>
      <form action='/guide' method='post'> {% csrf_token %}
          <div class="form-floating mt-4">
          <textarea name="text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
          <label for="floatingTextarea2">Enter your text here!</label>
        </div>
        <br>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox1" name="removepunc">
          <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox2" name="uppercase">
          <label class="form-check-label" for="flexSwitchCheckDefault">Upper Case</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox21" name="lower">
          <label class="form-check-label" for="flexSwitchCheckDefault">Lower Case</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox3" name="newlineremove">
          <label class="form-check-label" for="flexSwitchCheckDefault">New Line Remove</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox4" name="extraspaceremove">
          <label class="form-check-label" for="flexSwitchCheckDefault">Extra Space Remove</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox5" name="charcount">
          <label class="form-check-label" for="flexSwitchCheckDefault">Count Characters</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox" name="spell">
          <label class="form-check-label" for="flexSwitchCheckDefault">Spell Check</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox7" name="wiki">
          <label class="form-check-label" for="flexSwitchCheckDefault">Generate Summary Of a Word</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkbox8" name="stp">
          <label class="form-check-label" for="flexSwitchCheckDefault">Remove Stop Words of Your Paragraph</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
  
</html>